<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Email Contents
        Report Contents
        From User:
          @user.name
          @user.email
        Report:
          @report.project.name
          @report.content      

    
    <p>Have a Great Day!</p>
  </body>
</html>