<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
        From User:
        <%= @user.name %>
        CD Technologies Asia INC.
        Good Day!,
        <%= @try >
        This is my weekly report for last week.

        Report:
         
    <p>Have a Great Day!</p>
  </body>
</html>