<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
        
        <p>CD Technologies Asia INC.</p>
        <p>Good Day!,</p>
        <p>Report Content:</p>
        <p>This is my work report for this day.</p>
        <% @report.each do |report| %>
            <p><%= report.daily_report %></p>
        <% end %>
        
      <p>From User:</p>
        <p><%= @user.name %></p>
    <p>Have a Great Day!</p>
  </body>
</html>