/*
*= require bootstrap
*= require_tree 
*= require_self
*= require font-awesome
*/
 
.boxy{
    background-color:lightblue;
    color: black;
    background: url( asset-path('background.jpg')) ;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
  }