/*
*= require bootstrap
*= require_tree 
*= require_self
*= require font-awesome

*/
@import "bootstrap";
 
.boxy{
    border: 2px solid black;
    padding: 25px;
    background-color:lightblue;
    color: black;
    background: url( asset-path('background.jpg')) ;
    height: 300%;
    background-repeat: no-repeat; 
    background-size: cover;
   
  }
.navbar {
    position: relative;
    min-height: 50px; 
    font-size: 30px;
    margin-bottom: 20px;
    border: 1px solid transparent;
  }

.pad{
  padding-left: 23rem;
  padding-right: 5em;
  padding-top: -3em;
}
.pad2{
  padding: 1px;
  padding-top: 1em;
  padding-left: 4rem;
  padding-right: 1em;
}
.pad3{
  padding-top: 9.5em;
  padding-left: 15rem;
  padding-right: 1em;
}

.bg {
  background-color: turquoise;
}

.bgimg {
  background-image: url( asset-path('bg.png'));
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #432454;
  margin-bottom: 5px;
}
.send{
  float: right;
}
.move{
  padding-top: 4em;
  padding-left: 13rem;
}
.moveright{
  padding-top :4em;
  padding-right: 16em;
}
.group{
  font-size: 25px;
  width: 280px;
  height: 150px;
}
.gravatar {
  height: 30px;
  width: auto;
}
.c{
padding-right: 16em;
}
.prof{
  font-style: oblique;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-stretch: semi-expanded;
  font-size: 20px;
}
.file{
  font-weight: bold;
  float: right;
  font-family: 'Courier New', Courier, monospace;
  font-size: larger;
  font-variant: initial;
  font-stretch: wider;
  text-align: justify;
  text-shadow: 2rem;
}
