.content-body {
    height: 100px;
    background-color: Blue;
    margin: 10px 
    }
.content-body-right {
    height: 80px;
    background-color: Blue;
    margin: 10px 
    }
.text {
    height: 30px;
    text-decoration-color: whitesmoke;
    margin: 10px 
}
.link{
    color: blanchedalmond;
    
}