= form_with(model: report, local: true) do |form|
  - if report.errors.any?
    #error_explanation
      h2
        | pluralize(report.errors.count, "error")
        | prohibited this report from being saved:
      ul
        - report.errors.full_messages.each do |message|
          li = message
.d-flex.justify-content-center
  .container        
  .form-group.col-6 col-md-4
    label for="project_id" Select Project:
    select.form-control name="report[project_id]" id="report_project_id" >
      option selected="true" value="" Select All 
        -current_user.projects.each do |project| 
         option value = = project.id  = project.name 
  .col-xs-6.col-md-4
  .field
  = form.label :content
  = form.text_area :content, :rows => 10, style: 'width:100%;'
  .col-xs-6.col-md-4
  .field
  .form.label :content
  = form.date_field :startTime
  .actions
    = form.submit
    

