<h1><center><strong>New Report</strong></center></h1>

<h6>
<li><%= link_to 'Create Daily Report', daily_reports_path %><br>
<li><%= link_to 'Create Weekly Report', weekly_reports_path %><br>
<li><%= link_to 'Create Monthly Report', monthly_reports_path %><br>
</h6>
<%= link_to 'Back', home_index_path %>

